<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="product"
         name="com.devpmts.dropaline"
         point="org.eclipse.core.runtime.products">
      <product
            name="com.devpmts.dropaline.parent"
            application="org.eclipse.e4.ui.workbench.swt.E4Application">
         <property
               name="applicationCSS"
               value="platform:/plugin/com.devpmts.dropaline.parent/css/default.css">
         </property>
         <property
               name="appName"
               value="com.devpmts.dropaline.parent">
         </property>
         <property
               name="lifeCycleURI"
               value="bundleclass://com.devpmts.dropaline.parent/com.devpmts.dropaline.DropalineLifeCycle">
         </property>
         <property
               name="applicationXMI"
               value="com.devpmts.dropaline.parent/Application.e4xmi">
     	 </property>
      </product>
   </extension>

</plugin>
